/* Los estilos de tu proyecto */

/* ENCABEZADO */
.navbar {
	margin-bottom: -20px;
}

.primero {
	padding: 2em;
}

.primero ul a {
	padding-left: 2em;
}

/* PRIMER CONTAINER-IMÁGEN */
.segundo {
  background-image: url(../assets/images/taxi.jpg);
  height: 87vh;
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
}

.cuadrado {
	background-color: #FBBD00;
	height: 26em;
	width: 100%;
	margin-top: 30px;
}

.texto {
	padding: 1em;
	color: #fff;
}

.texto h2 {
	line-height: 0.7em;
}

.texto h4 img {
	width: 4em;
}

.jumbotron {
   padding-top: 0;
}

.container .jumbotron {
	padding: initial;
  margin-top: 0px;
}

.texto hr {
	width: 100px;
}

/* SEGUNDO CONTAINER */

.tercero {
	background-color: #FBBD00;
	height: 80vh;
	width: 100%;	
}

.phone {
	padding: 3em;
	width: 22.2em;
}

.tercerob {
	margin-top: 4em;
	margin-right: 4em;
	border: 1px solid #fff;
	color: #fff;

}

.terceroc img {
	width: 22em;
	padding: 1em;
}

.tercerod {
	color: #fff;
	line-height: 1em;
}

/* TERCER CONTAINER */
.conductor {
	background-image: url(../assets/images/conduce.jpg);
	height: auto;
	width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cuadrado2 {
	background-color: #000;
	color:#fff;
	opacity: 0.8;
	height: 60vh;
	width: 100%;
	padding: 1em;
}

.cuadrado2 .btn {
	background-color: #FBBD00;
	color:#fff;
}

/*CUARTO CONTAINER*/
.quinto {
	background-color: #FBBD00;
	height: 70vh;
	width: 100%;
	padding: 3em;
}

.quintob{
	color: #fff;
}

.quintob .map {
	background-color: #FBBD00;
}

.map::-webkit-input-placeholder {  
	color: white;
} 

.map::-moz-placeholder {   
	color: white; 
} 

.map:-ms-input-placeholder {    
	color: white;
} 

.map:-moz-placeholder {    
	color: white; 
}

.quinto .btn {
	padding: 1em;
	margin-left: 120px;
}

.quintoc .mapa {
	height: 50vh;
	width: 50vh;	
}

/*QUINTO CONTAINER*/
.sexto {
	background-color: #2F2F2F;
	height: 70vh;
	width: 100%;	
}